@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
/* Some css reset*/
*, *::before, *::after {
  box-sizing: border-box;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Color palette */
:root {
  --background-color-triple: 250, 250, 250;
  --background-color: rgb(var(--background-color-triple));
  --background-color-secondary: #f3f3f3;
  --background-color-highlight: #C7C7CC;
  --label-color: #000000;
  --label-color-secondary: rgba(0.24, 0.24, 0.26, 0.6);
  --placeholder-color: rgba(0.24, 0.24, 0.26, 0.3);
  --separator-color: rgba(0.24, 0.24, 0.26, 0.29);
  --focus-background-color: lightblue;
  --system-color-affirmative: #34C759;
  --system-color-deny: #FF3B30;
  --outline-color: #007AFF;
  --border-color: #222;
  --board-background-color: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color-triple: 28, 28, 30;
    --background-color-secondary: #2C2C2E;
    --background-color-highlight: #48484A;
    --label-color: #FFFFFF;
    --label-color-secondary: rgba(0.92, 0.92, 0.96, 0.6);
    --placeholder-color: rgba(0.92, 0.92, 0.96, 0.3);
    --separator-color: rgba(0.33, 0.33, 0.35, 0.6);
    --focus-background-color: lightblue;
    --system-color-affirmative: #30D158;
    --system-color-deny: #FF453A;
    --outline-color: #0A84FF;
    --border-color: #8E8E93;
    --border-highlight-color: #8E8E93;
  }
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 90;
  background-color: var(--background-color);
  color: var(--label-color);
}

button {
  background-color: var(--background-color-secondary);
  color: var(--label-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.22rem 0.1rem;
  margin: 0.25rem 0 0.69rem;
}

button:focus, button:hover, button:active {
  background-color: var(--background-color-highlight);
}

.slot-select-94e563a {
  margin-right: 10px;
}

.game-box-94e563a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-view-94e563a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-94e563a {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  gap: 8px;
  width: fit-content;
  border: 4px solid var(--border-color);
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
  background: var(--board-background-color);
}

.tile-94e563a {
  position: relative;
}

.tile-94e563a.interactive-94e563a:hover {
  outline: thin solid var(--outline-color);
}

.tile-capture-94e563a {
  width: 100%;
  height: 100%;
}

.tile-94e563a.interactive-94e563a .tile-capture-94e563a:hover {
  cursor: context-menu;
}

.tile-context-menu-94e563a {
  position: absolute;
  z-index: 99;
  background-color: var(--background-color);
}

.tile-94e563a.awakening-94e563a {
  background-color: orangered;
}

.tile-94e563a.development-94e563a {
  background-color: purple;
}

.tile-94e563a.enhance-94e563a {
  background-color: whitesmoke;
}

.tile-94e563a.purification-94e563a {
  background-color: gold;
}

.tile-94e563a.replicate-94e563a {
  background-color: blue;
}

.tile-94e563a.empty-94e563a {
  background-color: lightgrey;
}

.tile-94e563a.goal-94e563a {
  background-color: red;
}

.tile-94e563a.normal-94e563a {
  background-color: grey;
}

.tile-94e563a.past-94e563a {
  background-color: lightgoldenrodyellow;
}

.tile-94e563a.current-94e563a {
  background-color: goldenrod;
}

.tile-list-94e563a {
  margin: 0;
  padding: 0;
  display: block;
}

.list-option-94e563a {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
}

.list-option-94e563a:hover {
  background-color: var(--focus-background-color);
}

.option-icon-94e563a {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 5px;
}

.card-hand-94e563a {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.card-wrapper-94e563a {
  width: 50px;
  text-align: center;
  font-weight: bold;
}

.card-94e563a {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: larger;
}

.card-enhanced-94e563a {
  color: darkorange;
}

.enhancement-control-94e563a {
  align-self: flex-start;
}
.enhancement-control-94e563a button {
  margin: 0 5px;
}

.manipulator-wrap-94e563a {
  margin: 0 5px;
}
.manipulator-wrap-94e563a button {
  font-size: larger;
  width: 2em;
  margin: 0 5px;
}

.recommend-reset-94e563a {
  font-size: larger;
  color: var(--system-color-deny);
  font-weight: bold;
  text-transform: uppercase;
}

.recommend-tap-94e563a {
  color: var(--system-color-affirmative);
  font-size: larger;
  text-transform: uppercase;
}

.stats-page-94e563a {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--background-color-triple), 0.8);
  pointer-events: none;
}

.stats-container-94e563a {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  pointer-events: initial;
  height: 80vh;
  overflow: scroll;
}

.stats-table-94e563a {
  border-collapse: collapse;
  min-width: 400px;
}
.stats-table-94e563a thead tr {
  text-align: left;
}
.stats-table-94e563a th, .stats-table-94e563a td {
  padding: 12px 15px;
}
.stats-table-94e563a tbody tr {
  border-top: thin solid var(--separator-color);
}
.stats-table-94e563a tbody tr:nth-of-type(even) {
  background-color: var(--background-color-secondary);
}

.info-button-94e563a {
  border: none;
}
